.main {
  /* padding: 0rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto; */
}

.link {
  font-weight: 500;
}

.cloudform {
  /* position: relative; */
}

.textarea {
  position: relative;
  resize: none;
  outline: none;
}

.textarea:disabled {
  opacity: 0.5;
}

.textarea::placeholder {
  color: #5f6368;
}

.generatebutton {
  position: absolute;
  color: rgb(165, 162, 162);
  background: none;
  padding: 0.3rem;
  border: none;
  display: flex;
}

.historybutton {
  position: absolute;
  top: 0.87rem;
  right: 1rem;
  color: rgb(165, 162, 162);
  background: none;
  padding: 0.3rem;
  border: none;
  display: flex;
}

.loadingwheel {
  position: absolute;
  top: 0.2rem;
  right: 0.25rem;
}

.svgicon {
  transform: rotate(90deg);
  width: 1.2em;
  height: 1.2em;
  fill: currentColor;
}

.svgiconbutton {
  transform: rotate(90deg);
  width: 1.2em;
  height: 1.2em;
  fill: currentColor;
  cursor: pointer;
}

.svgiconbutton:hover {
  fill: #ff7931;
}

.generatebutton:hover {
  background: #1f2227;
  border-radius: 0.2rem;
}

.generatebutton:disabled {
  opacity: 0.9;
  cursor: not-allowed;
  background: none;
}

.messagelist {
  width: 100%;
  height: 100%;
  overflow-y:scroll;
  border-radius: 0.5rem;
}

.messagelistloading {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}

.usermessage {
  position: relative;
  margin-bottom: 10px;
  box-shadow: rgba(150, 129, 175, 0.1) 0px 0px 200px 0px inset;
}

.usermessagewaiting{
  padding: 1.5rem;
  color: #DCD9F1;
  background: linear-gradient(to left, #070809, #1a1c20, #070809);
  background-size: 200% 200%;
  background-position: -100% 0;
  animation: loading-gradient 2s ease-in-out infinite;
  animation-direction: alternate;
  animation-name: loading-gradient;
  position: relative;
}

@keyframes loading-gradient {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.apimessage {

  animation: fadein 0.5s;
  position: relative;
  box-shadow: rgba(66, 54, 77, 0.1) 0px 0px 400px 0px inset;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.apimessage, .usermessage, .usermessagewaiting {
  display: flex;
}

.markdownanswer {
  line-height: 1.75;
}

.markdownanswer a:hover {
  opacity: 0.8;
}

.markdownanswer a {
  color: #16bed7;
}

.markdownanswer code {
  white-space: pre-wrap !important;
  font-family: 'Inter', sans-serif;
  font-weight: 300;

}

.markdownanswer ol, .markdownanswer ul {
  margin: 1rem;
}

.boticon, .usericon {
  margin-right: 1rem;
  border-radius: 0.1rem;
  height: 30px;
}

.markdownanswer h1, .markdownanswer h2, .markdownanswer h3 {
  font-size: inherit;
}


.center {
}

.cloud {
}



.originalPrompt {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.2;
  color: #e0e0e0;
  font-size: 0.9rem;
  font-style: italic;
}

.pointsnormal {
  width: 90%;
  height: 90%;
}

.pointsdim {
  width: 90%;
  height: 90%;
  opacity: 0.25;
}

.footer {
  color: #5f6368;
  font-size: 0.8rem;
  margin: 1.5rem;
}

.footer a {
  font-weight: 500;
  color: #7a7d81;
}

.footer a:hover {
  opacity: 0.8;
}

.historyGroupRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #343245;
  color: #DCD9F1;
}

.historyRowRestore {
  display: none;
  padding: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #415364;
  border-radius: 5px;
}

.historyrow {
  padding-left: 1rem;
}



.historyrow:hover :nth-child(3) {
  display: block;
}
