@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  background: #161617;
  color: #fff;
  height: 100vh;
  overflow-y: hidden;
  /* display: flex;
  justify-content: center;
  width: 100%; */
  /* align-items: center; */
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #c0c0c0 #161617;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #161617;
}

*::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 10px;
  border: 0px solid #ffffff;
}
