@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  scroll-behavior: smooth;
  border-radius: 6px;
  border: 2px solid rgba(15, 14, 20, 0.8);

  background: #121214;

  box-shadow: 8px 8px 74px 0px rgba(0, 0, 0, 0.65);
  /* backdrop-filter: blur(12px); */
  color: #f7f1f9;
  height: 100vh;
  overflow-y: hidden;
  /* display: flex;
  justify-content: center;
  width: 100%; */
  /* align-items: center; */
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #c0c0c0 #1E1D2D;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #1E1D2D;
}

*::-webkit-scrollbar-thumb {
  background-color: #343245;
  border-radius: 10px;
  border: 0px solid #ffffff;
}

.historyrow:hover :nth-child(3) {
}
.command {
  transition: background-color 0.2s ease;
}

.command-highlighted, .command:hover {
  animation: commandhighlighted 0.5s ease;
  background-color: #4c06d7; /* Lighter color */
  transition: background-color 0.2s ease;

}
@keyframes commandhighlighted {
  0% { background-color: #7032ee; } /* Initial lighter color */
  100% { background-color: #4c06d7; } /* Final color */
}
